{% extends "main/base.html" %}

{% block content %}
{% block head %}

<link rel="stylesheet"{% load static %} href="{% static 'css/styles-admin.css' %}">
{% endblock %}


<div class="admin-panel">
    <nav class="admin-nav">
        <a href="{% url 'admin_product_list' %}" class="nav-link">Список товаров</a>
        <a href="{% url 'admin_product_add_panel' %}" class="nav-link active">Добавить товар</a>
    </nav>
    <main class="admin-main">
        <h1>{{ action }}</h1>
        <form method="post" class="admin-form">
            {% csrf_token %}
            <div class="form-fields">
                {{ form.as_p }}
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-submit">{{ action }}</button>
                <a href="{% url 'admin_product_list' %}" class="btn btn-cancel">Отмена</a>
            </div>
        </form>
    </main>
</div>
{% endblock %}
